<nav class="navbar navbar-expand-sm lg md xl navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="Home">Restuarant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Add">Add Resto</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="List">List Of Resto</a>
        </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="Update">Update resto</a>
        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="Login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="Register">Register</a>
        </li>

      </ul>
    </div>
  </div>
</nav>


 <!-- <h1>Restaurant</h1>
 <ul>
   <li><a href="Add">Add Restuarant</a></li>
   <li><a href="Update">Update Restuarant</a></li>
   <li><a href="Login">Login Restuarant</a></li>
   <li><a href="Register">Register Restuarant</a></li>
   <li><a href="List">List Restuarant</a></li>
 </ul> -->
 <div class="container"><router-outlet></router-outlet></div>


