<h1 class="text-center"> Register New User</h1>

<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success!</strong> Your Data has been Added.
  <button (click)="closeAlert()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form [formGroup]="register" class=" container-fluid h-100 bg-light text-dark " (ngSubmit)="collection()">
  <div class="mb-3">
    <label for="exampleInputname" class="form-label">Name</label>
    <input type="text" formControlName="name" class="form-control" aria-describedby="emailHelp">

  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" formControlName="email" class="form-control"  aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<footer>
  <p class="color">Register your restaurant with us</p>
</footer>
